@import './styles/settings';
@import './styles/mixins';

/* You can add global styles to this file, and also import other style files */

@import 'sass-breakpoints/index';
@import 'sass-ems/index';

//base
body,
html {
  height: 100%;
  font-family: 'Source Sans Pro', Verdana, sans-serif;

  margin: 0;
  padding: 0;
  background: $back-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1em;
  font-weight: normal;
  color: $main-color;
}

.title {
  margin-bottom: 1em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-header {
  background: $head-color;
  height: $header-height - $common-margin * 2;
  padding: $common-margin;
  position: fixed;
  z-index: 9001;
  top: 0;
  width: 100%;
  display: flex;
  line-height: $header-text-height;
  box-shadow: 0 0 1em rgba($main-color, 0.25);
  > * {
    color: $main-color;
  }
  .header-logo {
    height: 2em;
    margin-right: $common-margin;
  }
  .header-search {
    flex: 1;
    padding: 0 $common-margin;
    display: flex;
    label {
      margin: 0 $common-margin;
    }
    input[type='text'] {
      flex: 1;
      border-radius: 1em 0 0 1em;
      border-right: 0;
    }
    button {
      margin-left: -1px;
      &:hover,
      &:focus {
        color: $head-color;
        background-color: $main-color;
      }
    }
  }
  .header-links {
    display: flex;
    margin-right: 1em;
    a {
      color: $main-color;
      display: block;
      margin-right: $common-margin * 2;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-position 1s ease-in-out;
      &:hover,
      &:focus {
        color: $main-color-light;
      }
    }
  }
  li {
    padding: none;
    list-style-type: none;
  }
}

//forms
fieldset {
  border: none;
}

input,
input[type='reset'],
input[type='reset'],
input[type='button'],
button {
  height: 2em;
  border-radius: 2em;
  padding: 0 1em;
  background-color: transparent;
  border: solid 1px $main-color;
  color: $main-color;
}

input {
  &:focus {
    box-shadow: inset 0 0 0.5em $main-color;
  }
}

$loader-size: 120px;
$loader-border-width: 1px;
.loops-load-more {
  margin: 0 auto;
  display: block;
}

.loops-loader {
  display: flex;
  margin: 0 auto 1em;
  width: $loader-size;
  height: $loader-size;
  position: relative;
  p {
    position: absolute;
    color: $main-color;
    top: 53px;
    left: 30px;
    text-align: center;
    margin: 0;
  }
  .loader-circle {
    background-color: transparent;
    border: solid 1px $main-color;
    color: $main-color;
    width: $loader-size;
    height: $loader-size;
    border-radius: $loader-size*0.5;
    transform-origin: $loader-size*0.5 $loader-size*0.5;
    transform: scale(1);
    animation: circle-grow 3s infinite;
    position: absolute;
    left: 0;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i*0.5}s;
      }
    }
  }
}

@keyframes circle-grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// icons

@font-face {
  font-family: 'Batch';
  src: url('assets/font/batch-icons-webfont.eot');
  src: url('assets/font/batch-icons-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('assets/font/batch-icons-webfont.woff') format('woff'),
    url('assets/font/batch-icons-webfont.ttf') format('truetype'),
    url('assets/font/batch-icons-webfont.svg#batchregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
