@import "../../../../styles/settings";
:host{
  flex: 1 1 auto;
}
.header-search {
  padding: 0 $common-margin;
  display: flex;
  margin: .25em 0;
  label {
    margin: 0 $common-margin;
  }
  input[type="text"] {
    flex: 1 1 auto;
    border-radius: 2em 0 0 2em;
    border-right: 0;
    height: 1em;
    line-height: 2em;
    background-color: transparent;
    border: solid 2px $main-color;
    color: $main-color;
    padding: .5em;
    &:hover,
    &:focus {
      border-color: $main-color-light;
    }
  }
  button.search-button {
    flex: 0 0 auto;
    margin-left: -1em;
    color: $head-color;
    background-color: $main-color;
    border-radius: 2em;
    padding: .5em 1em;
    line-height: 1em;
    text-transform: uppercase;
    height: calc(2em + 4px);

    &:hover,
    &:focus {
      color: $head-color;
      background-color: $main-color-light;
    }
  }
}
