@import '_settings';
@import 'sass-breakpoints/index';

.gotloop-footer {
  width: 100%;
  text-align: center;
  height: $header-height/2;
  position: fixed;
  padding: 0 20px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  background: white;
  color: $main-color;

  @include breakpoint('md', 'lg') {
    position: fixed;
  }
  @include breakpoint('lg') {
  }
}
