@import 'settings';

.card {
  height: auto;
  border-radius: 1em;
  margin: 20px;
  background-color: #fbfbfb;
  box-shadow: 0 0 1em rgba($grey-color, 0.25);
  .card-header {
    border-radius: 1em 1em 0 0;
    background-color: $head-color;
    width: 100%;
    min-height: 2em;
    position: relative;
    // titles override
    & ::ng-deep h1,
    & ::ng-deep h2 {
      padding: 0.5em 1em;
      color: white;
      font-size: 1em;
      text-transform: uppercase;
    }
  }
  .card-middle {
    margin: 0 20px;
  }
  .card-footer {
    border-radius: 0 0 1em 1em;
    background-color: #fbfbfb;
    min-height: 1em;
  }
}
