#wrap.container
    header
        hgroup
        // Example comment: Add valid elements within header group  h1 HTML5 Elements //

        p
            | This is the global
            code &lt;header&gt;
            | element for this page, including the
            code &lt;hgroup&gt;
            | and
            code &lt;nav&gt;
            | elements.
        nav
            ul
                li
                    a(href='#', title='Global header link')
                        | Global
                        code &lt;nav&gt;
                        | link within the
                        code &lt;header&gt;
                li
                    a(href='#', title='Global header link')
                        | Global
                        code &lt;nav&gt;
                        | link within the
                        code &lt;header&gt;
                li
                    a(href='#', title='Global header link')
                        | Global
                        code &lt;nav&gt;
                        | link within the
                        code &lt;header&gt;
    section
        header
            h2 Section header
        article
            header
                h3 Article header
            div
                p
                    a(href='http://www.ackernaut.com/space-station/zip/html5-elements.zip', title='Download the HTML and asset files') Download the HTML and asset files
                    br
                    | (ZIP does not include audio or video to reduce file size.
                    br
                    | You can download them from this page using your browser.)
                h4 Purpose of this document:
                ul
                    li Includes all the HTML5 elements as listed in the side column.
                    li
                        | Minimal styling has been used. Use this document to test CSS files (base, reset, custom, etc.) on desired elements in various browsers.
                    li
                        | Use this document to create comprehensive templates that need to use many of the common HTML5 elements.
                    li Includes jQuery because it comes in handy.
                    li Includes HTML5 compatibility for Internet Explorer.
                    li Includes CSS files for screen, print, mobile and smart phones.
                    li
                        | See
                        a(href='#info', title='Reference links below') reference links below
                        | for more information.
                p
                    span Note:
                    | This is only a guide — a starting point — if you will.
                hr
                h1 Header 1 &lt;h1&gt;
                p This is an example paragrah used within this article for this document.
                h2 Header 2 &lt;h2&gt;
                p This is an example paragrah used within this article for this document.
                h3 Header 3 &lt;h3&gt;
                p This is an example paragrah used within this article for this document.
                h4 Header 1 &lt;h4&gt;
                p This is an example paragrah used within this article for this document.
                h5 Header &lt;h5&gt;
                p This is an example paragrah used within this article for this document.
                h6 Header &lt;h6&gt;
                p This is an example paragrah used within this article for this document.
                hr
                h4 Unordered list
                ul
                    li Unordered list item
                    li
                        | Unordered list item
                        ul
                            li Unordered list item
                            li
                                | Unordered list item
                                ul
                                    li Unordered list item
                                    li Unordered list item
                                    li Unordered list item
                            li Unordered list item
                    li Unordered list item
                h4 Ordered list
                ol
                    li Ordered list item
                    li
                        | Ordered list item
                        ol
                            li Ordered list item
                            li
                                | Ordered list item
                                ol
                                    li Ordered list item
                                    li Ordered list item
                                    li Ordered list item
                            li Ordered list item
                    li Ordered list item
                hr
                h4 Address and blockquote:
                address
                    | 700 Address Element Road
                    br
                    | Town, State Zip
                blockquote This is a blockquote.
                hr
                h4 Audio and video:
                p
                    | Example of the
                    code &lt;audio&gt;
                    | element:
                audio(controls='', autobuffer='')
                    source(src='assets/audio/kahvi285d_jim_black-yoctosecond.ogg')
                    //
                      Find the audio file here: http://www.kahvi.org/releases.php?release_number=285
                    | Your browser does not support OGG audio. Try using Safari, Chrome or Firefox.
        p
            | Example of the
            code &lt;video&gt;
            | element:
        video(width='400', height='300', src='assets/video/a-new-computer-small.ogg', controls='', autobuffer='')
        //
                         Find the video file here: http://www.polycrystal.org/lego/movies.html
                          p
                              | Try using Safari, Chrome or Firefox to view this video. You can also
                              a(href='assets/video/a-new-computer-small.ogg') download the video
                              | .
        hr
        h4 Figure:
        figure
            p
                | Use an
                code &lt;img&gt;
                | ,
                code &lt;video&gt;
                | or
                code &lt;table&gt;
                | as content for the
                code &lt;figure&gt;
                | element.
            img(src='assets/img/sky.jpg', width='240', height='160', alt='Watching the Sky by Nathaniel Reinhart')
            br
            figcaption
                a(href='http://www.flickr.com/photos/0mega/3178584649/', title='Watching the Sky by Nathaniel Reinhart') Watching the Sky
                | by Nathaniel Reinhart (
                code &lt;figcaption&gt;
                | )
        hr
        h4 Form:
        form
            fieldset
                legend Form legend
                label(for='text-input') Text input
                input#text-input(type='text')
                br
                button(title='button') Button
                br
                select
                    optgroup(label='Options')
                        option(value='Option 1') Option 1
                        option(value='Option 2') Option 2
                        option(value='Option 3') Option 3
                br
                textarea
                br
        hr
        h4 Inline text formatting:
        p
            | This is the
            abbr(title='Abbreviation') ABBR
            | element.
        p
            | This is the
            b b
            | element.
        p
            | This is the
            cite cite
            | element.
        p
            | This is the
            code code
            | element.
        p
            | This is the
            del del
            | element.
        p
            | This is the
            dfn dfn
            | element.
        p
            | This is the
            em em
            | element.
        p
            | This is the
            i i
            | element.
        p
            | This is the
            ins ins
            | element.
        p
            | This is the
            kbd kbd
            | element.
        p
            | This is the
            mark mark
            | element.
        p
            | This is the
            samp samp
            | element.
        p
            | This is the
            small small
            | element.
        p
            | This is the
            strong strong
            | element.
        p
            | This is the
            sub sub
            | element.
        p
            | This is the
            sup sup
            | element.
        p
            | This is the
            var var
            | element.
        hr
        h4 Meter:
        p
            | An example of the
            code &lt;meter&gt;
            | element: Your score is:
            meter(value='91', min='0', max='100', low='40', high='90', optimum='100') A+
        hr
        h4 Pre and span:
        p
            | This is the
            code &lt;pre&gt;
            | element:
        pre.
          \npre
        p
            | This is the
            span span
            | element. All
            code &lt;span&gt;
            | elements within this demo are set to
            span bold
            | for styling purposes only.
        hr
        h4 Table:
        table
            thead
                tr
                    th Table header
                    th Table header
                    th Table header
            tfoot
                tr
                    td Table footer
                    td Table footer
                    td Table footer
            tbody
                tr
                    td Table data
                    td Table data
                    td Table data
        hr
        h4 Time:
        p
            | The following is an example of the
            code &lt;time&gt;
            | element:
        time(datetime='2010-03-22T11:00-06:00') 11AM in Texas on March 22, 2010
        hr
        footer.article
            p
                | This is the
                code &lt;footer&gt;
                | for this
                code &lt;article&gt;
                | .
            h4
                a#info
                | Details and summary:
            details
                summary Article Summary
                p
                    | Details: Here is information and links related to / referenced within this article. This uses the
                    code &lt;details&gt;
                    | and
                    code &lt;summary&gt;
                    | elements.
                ul
                    li
                        a(href='http://html5doctor.com/glossary/', title='HTML5doctor: HTML5 Glossary') HTML5doctor: HTML5 Glossary
                    li
                        a(href='http://www.w3schools.com/html5/html5_reference.asp', title='W3Schools: HTML 5 Tag Reference') W3Schools: HTML 5 Tag Reference
                    li
                        a(href='http://code.google.com/apis/ajaxlibs/documentation/index.html#jquery', title='jQuery provided by Google') jQuery provided by Google
                    li
                        a(href='http://remysharp.com/2009/01/07/html5-enabling-script/', title='HTML5 enabling script') HTML5 enabling script
                        | (for Internet Explorer)
                    li
                        a(href='http://flesler.blogspot.com/2007/10/jquerylocalscroll-10.html', title='jQuery.LocalScroll') jQuery.LocalScroll
                        | by Ariel Flesler
                    li
                        | See source code for HTML and CSS for other references to stylesheet inspiration etc.
                    li
                        | What's next? You need to check out these:
                        ul
                            li
                                a(href='http://diveintohtml5.org/', title='Dive into HTML5') Dive into HTML5
                            li
                                a(href='http://html5demos.com/', title='HTML 5 Demos and Examples') HTML 5 Demos and Examples
    footer
        p
            | This is the
            code &lt;footer&gt;
            | for this
            code &lt;section&gt; of this page/site
            | .
    aside
        h3
            | The
            code &lt;aside&gt;
            | to the
            code &lt;section&gt;

footer
    p
        | This is the global
        code &lt;footer&gt;
        | for this page/site.
    nav
        ul
            li
                a(href='#', title='Global footer link')
                    | Global footer
                    code &lt;nav&gt;
                    | link
            li
                a(href='#', title='Global footer link')
                    | Global footer
                    code &lt;nav&gt;
                    | link
            li
                a(href='#', title='Global footer link')
                    | Global footer
                    code &lt;nav&gt;
                    | link
    p
        | This document was prepared by
        a(href='http://www.ackernaut.com/code/get-started-with-html5/', title='Get started with HTML5') the Ackernaut
        | for the benefit of the web development community.
        br
        | If you have suggestions on how to improve this page let me know: terry / at / ackernaut / dot / com
        br
        | Feel free to borrow and share a link!
        br
        | Created on March 22, 2010 | Last updated on April 9, 2010
