ul.icons
    li.icon &#xE000;
    li.icon &#xF000;
    li.icon &#xF001;
    li.icon &#xF002;
    li.icon &#xF003;
    li.icon &#xF004;
    li.icon &#xF005;
    li.icon &#xF006;
    li.icon &#xF007;
    li.icon &#xF008;
    li.icon &#xF009;
    li.icon &#xF00A;
    li.icon &#xF00B;
    li.icon &#xF00C;
    li.icon &#xF00D;
    li.icon &#xF00E;
    li.icon &#xF010;
    li.icon &#xF011;
    li.icon &#xF012;
    li.icon &#xF013;
    li.icon &#xF014;
    li.icon &#xF015;
    li.icon &#xF016;
    li.icon &#xF017;
    li.icon &#xF018;
    li.icon &#xF019;
    li.icon &#xF01A;
    li.icon &#xF01B;
    li.icon &#xF01C;
    li.icon &#xF01D;
    li.icon &#xF01E;
    li.icon &#xF020;
    li.icon &#xF021;
    li.icon &#xF022;
    li.icon &#xF023;
    li.icon &#xF024;
    li.icon &#xF025;
    li.icon &#xF026;
    li.icon &#xF027;
    li.icon &#xF028;
    li.icon &#xF029;
    li.icon &#xF02A;
    li.icon &#xF02B;
    li.icon &#xF02C;
    li.icon &#xF02D;
    li.icon &#xF02E;
    li.icon &#xF030;
    li.icon &#xF031;
    li.icon &#xF032;
    li.icon &#xF033;
    li.icon &#xF034;
    li.icon &#xF035;
    li.icon &#xF036;
    li.icon &#xF037;
    li.icon &#xF038;
    li.icon &#xF039;
    li.icon &#xF03A;
    li.icon &#xF03B;
    li.icon &#xF03C;
    li.icon &#xF03D;
    li.icon &#xF03E;
    li.icon &#xF040;
    li.icon &#xF041;
    li.icon &#xF042;
    li.icon &#xF043;
    li.icon &#xF044;
    li.icon &#xF045;
    li.icon &#xF046;
    li.icon &#xF047;
    li.icon &#xF048;
    li.icon &#xF049;
    li.icon &#xF04A;
    li.icon &#xF04B;
    li.icon &#xF04C;
    li.icon &#xF04D;
    li.icon &#xF04E;
    li.icon &#xF050;
    li.icon &#xF051;
    li.icon &#xF052;
    li.icon &#xF053;
    li.icon &#xF054;
    li.icon &#xF055;
    li.icon &#xF056;
    li.icon &#xF057;
    li.icon &#xF058;
    li.icon &#xF059;
    li.icon &#xF05A;
    li.icon &#xF05B;
    li.icon &#xF05C;
    li.icon &#xF05D;
    li.icon &#xF05E;
    li.icon &#xF060;
    li.icon &#xF061;
    li.icon &#xF062;
    li.icon &#xF0C9;
    li.icon &#xF0CA;
    li.icon &#xF0CB;
    li.icon &#xF0CC;
    li.icon &#xF0CD;
    li.icon &#xF0CE;
    li.icon &#xF0D0;
    li.icon &#xF0D1;
    li.icon &#xF0D2;
    li.icon &#xF0D3;
    li.icon &#xF0D4;
    li.icon &#xF0D5;
    li.icon &#xF0D6;
    li.icon &#xF0D7;
    li.icon &#xF0D8;
    li.icon &#xF0D9;
    li.icon &#xF0DA;
    li.icon &#xF0DB;
    li.icon &#xF0DC;
    li.icon &#xF0DD;
    li.icon &#xF0DE;
    li.icon &#xF0E0;
    li.icon &#xF0E1;
    li.icon &#xF0E2;
    li.icon &#xF0E3;
    li.icon &#xF0E4;
    li.icon &#xF0E5;
    li.icon &#xF0E6;
    li.icon &#xF0E7;
    li.icon &#xF0E8;
    li.icon &#xF0E9;
    li.icon &#xF0EA;
    li.icon &#xF0EB;
    li.icon &#xF0EC;
    li.icon &#xF0ED;
    li.icon &#xF0EE;
    li.icon &#xF100;
    li.icon &#xF101;
    li.icon &#xF102;
    li.icon &#xF103;
    li.icon &#xF104;
    li.icon &#xF105;
    li.icon &#xF106;
    li.icon &#xF107;
    li.icon &#xF108;
    li.icon &#xF109;
    li.icon &#xF10A;
    li.icon &#xF10B;
    li.icon &#xF10C;
    li.icon &#xF10D;
    li.icon &#xF10E;
    li.icon &#xF110;
    li.icon &#xF111;
    li.icon &#xF112;
    li.icon &#xF113;
    li.icon &#xF114;
    li.icon &#xF115;
    li.icon &#xF116;
    li.icon &#xF117;
    li.icon &#xF118;
    li.icon &#xF119;
    li.icon &#xF11A;
    li.icon &#xF11B;
    li.icon &#xF11C;
    li.icon &#xF11D;
    li.icon &#xF11E;
    li.icon &#xF120;
    li.icon &#xF121;
    li.icon &#xF122;
    li.icon &#xF123;
    li.icon &#xF124;
    li.icon &#xF125;
    li.icon &#xF126;
    li.icon &#xF127;
    li.icon &#xF128;
    li.icon &#xF129;
    li.icon &#xF12A;
    li.icon &#xF12B;
    li.icon &#xF12C;
    li.icon &#xF12D;
    li.icon &#xF12E;
    li.icon &#xF130;
    li.icon &#xF131;
    li.icon &#xF132;
    li.icon &#xF133;
    li.icon &#xF134;
    li.icon &#xF135;
    li.icon &#xF136;
    li.icon &#xF137;
    li.icon &#xF138;
    li.icon &#xF139;
    li.icon &#xF13A;
    li.icon &#xF13B;
    li.icon &#xF13C;
    li.icon &#xF13D;
    li.icon &#xF13E;
    li.icon &#xF063;
    li.icon &#xF064;
    li.icon &#xF065;
    li.icon &#xF066;
    li.icon &#xF067;
    li.icon &#xF068;
    li.icon &#xF069;
    li.icon &#xF06A;
    li.icon &#xF06B;
    li.icon &#xF06C;
    li.icon &#xF06D;
    li.icon &#xF06E;
    li.icon &#xF070;
    li.icon &#xF071;
    li.icon &#xF072;
    li.icon &#xF073;
    li.icon &#xF074;
    li.icon &#xF075;
    li.icon &#xF076;
    li.icon &#xF077;
    li.icon &#xF078;
    li.icon &#xF079;
    li.icon &#xF07A;
    li.icon &#xF07B;
    li.icon &#xF07C;
    li.icon &#xF07D;
    li.icon &#xF07E;
    li.icon &#xF080;
    li.icon &#xF081;
    li.icon &#xF082;
    li.icon &#xF083;
    li.icon &#xF084;
    li.icon &#xF085;
    li.icon &#xF086;
    li.icon &#xF087;
    li.icon &#xF088;
    li.icon &#xF089;
    li.icon &#xF08A;
    li.icon &#xF08B;
    li.icon &#xF08C;
    li.icon &#xF08D;
    li.icon &#xF08E;
    li.icon &#xF090;
    li.icon &#xF091;
    li.icon &#xF092;
    li.icon &#xF093;
    li.icon &#xF094;
    li.icon &#xF095;
    li.icon &#xF096;
    li.icon &#xF097;
    li.icon &#xF098;
    li.icon &#xF099;
    li.icon &#xF09A;
    li.icon &#xF09B;
    li.icon &#xF09C;
    li.icon &#xF09D;
    li.icon &#xF09E;
    li.icon &#xF0A0;
    li.icon &#xF0A1;
    li.icon &#xF0A2;
    li.icon &#xF0A3;
    li.icon &#xF0A4;
    li.icon &#xF0A5;
    li.icon &#xF0A6;
    li.icon &#xF0A7;
    li.icon &#xF0A8;
    li.icon &#xF0A9;
    li.icon &#xF0AA;
    li.icon &#xF0AB;
    li.icon &#xF0AC;
    li.icon &#xF0AD;
    li.icon &#xF0AE;
    li.icon &#xF0B0;
    li.icon &#xF0B1;
    li.icon &#xF0B2;
    li.icon &#xF0B3;
    li.icon &#xF0B4;
    li.icon &#xF0B5;
    li.icon &#xF0B6;
    li.icon &#xF0B7;
    li.icon &#xF0B8;
    li.icon &#xF0B9;
    li.icon &#xF0BA;
    li.icon &#xF0BB;
    li.icon &#xF0BC;
    li.icon &#xF0BD;
    li.icon &#xF0BE;
    li.icon &#xF0C0;
    li.icon &#xF0C1;
    li.icon &#xF0C2;
    li.icon &#xF0C3;
    li.icon &#xF0C4;
    li.icon &#xF0C5;
    li.icon &#xF0C6;
    li.icon &#xF0C7;
    li.icon &#xF0C8;
    li.icon &#xF0C9;
    li.icon &#xF0CA;
    li.icon &#xF0CB;
    li.icon &#xF0CC;
    li.icon &#xF0CD;
    li.icon &#xF0CE;
    li.icon &#xF0D0;
    li.icon &#xF0D1;
    li.icon &#xF0D2;
    li.icon &#xF0D3;
    li.icon &#xF0D4;
    li.icon &#xF0D5;
    li.icon &#xF0D6;
    li.icon &#xF0D7;
    li.icon &#xF0D8;
    li.icon &#xF0D9;
    li.icon &#xF0DA;
    li.icon &#xF0DB;
    li.icon &#xF0DC;
    li.icon &#xF0DD;
    li.icon &#xF0DE;
    li.icon &#xF0E0;
    li.icon &#xF0E1;
    li.icon &#xF0E2;
    li.icon &#xF0E3;
    li.icon &#xF0E4;
    li.icon &#xF0E5;
    li.icon &#xF0E6;
    li.icon &#xF0E7;
    li.icon &#xF0E8;
    li.icon &#xF0E9;
    li.icon &#xF0EA;
    li.icon &#xF0EB;
    li.icon &#xF0EC;
    li.icon &#xF0ED;
    li.icon &#xF0EE;
    li.icon &#xF100;
    li.icon &#xF101;
    li.icon &#xF102;
    li.icon &#xF103;
    li.icon &#xF104;
    li.icon &#xF105;
    li.icon &#xF106;
    li.icon &#xF107;
    li.icon &#xF108;
    li.icon &#xF109;
    li.icon &#xF10A;
    li.icon &#xF10B;
    li.icon &#xF10C;
    li.icon &#xF10D;
    li.icon &#xF10E;
    li.icon &#xF110;
    li.icon &#xF111;
    li.icon &#xF112;
    li.icon &#xF113;
    li.icon &#xF114;
    li.icon &#xF115;
    li.icon &#xF116;
    li.icon &#xF117;
    li.icon &#xF118;
    li.icon &#xF119;
    li.icon &#xF11A;
    li.icon &#xF11B;
    li.icon &#xF11C;
    li.icon &#xF11D;
    li.icon &#xF11E;
    li.icon &#xF120;
    li.icon &#xF121;
    li.icon &#xF122;
    li.icon &#xF123;
    li.icon &#xF124;
    li.icon &#xF125;
    li.icon &#xF126;
    li.icon &#xF127;
    li.icon &#xF128;
    li.icon &#xF129;
    li.icon &#xF12A;
    li.icon &#xF12B;
    li.icon &#xF12C;
    li.icon &#xF12D;
    li.icon &#xF12E;
    li.icon &#xF130;
    li.icon &#xF131;
    li.icon &#xF132;
    li.icon &#xF133;
    li.icon &#xF134;
    li.icon &#xF135;
    li.icon &#xF136;
    li.icon &#xF137;
    li.icon &#xF138;
    li.icon &#xF139;
    li.icon &#xF13A;
    li.icon &#xF13B;
    li.icon &#xF13C;
    li.icon &#xF13D;
    li.icon &#xF13E;
    li.icon &#xF140;
    li.icon &#xF141;
    li.icon &#xF142;
    li.icon &#xF143;
    li.icon &#xF144;
    li.icon &#xF145;
    li.icon &#xF146;
    li.icon &#xF147;
    li.icon &#xF148;
    li.icon &#xF149;
    li.icon &#xF14A;
    li.icon &#xF14B;
    li.icon &#xF14C;
    li.icon &#xF14D;
    li.icon &#xF14E;
    li.icon &#xF150;
    li.icon &#xF151;
    li.icon &#xF152;
    li.icon &#xF153;
    li.icon &#xF154;
    li.icon &#xF155;
    li.icon &#xF156;
    li.icon &#xF157;
    li.icon &#xF158;
    li.icon &#xF159;
    li.icon &#xF15A;
    li.icon &#xF15B;
    li.icon &#xF15C;
    li.icon &#xF15D;
    li.icon &#xF15E;
    li.icon &#xF160;
    li.icon &#xF161;
    li.icon &#xF162;
    li.icon &#xF163;
    li.icon &#xF164;
    li.icon &#xF165;
    li.icon &#xF166;
    li.icon &#xF167;
    li.icon &#xF168;
    li.icon &#xF169;
    li.icon &#xF16A;
    li.icon &#xF16B;
    li.icon &#xF16C;
    li.icon &#xF16D;
    li.icon &#xF16E;
    li.icon &#xF170;
    li.icon &#xF171;
    li.icon &#xF172;
    li.icon &#xF173;
    li.icon &#xF174;
    li.icon &#xF175;
    li.icon &#xF176;
    li.icon &#xF177;
    li.icon &#xF178;
    li.icon &#xF179;
    li.icon &#xF17A;
    li.icon &#xF17B;
    li.icon &#xF17C;
