ul.icons
    li.icon-000 icon-000
    li.icon-001 icon-001
    li.icon-002 icon-002
    li.icon-003 icon-003
    li.icon-004 icon-004
    li.icon-005 icon-005
    li.icon-006 icon-006
    li.icon-007 icon-007
    li.icon-008 icon-008
    li.icon-009 icon-009
    li.icon-00A icon-00A
    li.icon-00B icon-00B
    li.icon-00C icon-00C
    li.icon-00D icon-00D
    li.icon-00E icon-00E
    li.icon-010 icon-010
    li.icon-011 icon-011
    li.icon-012 icon-012
    li.icon-013 icon-013
    li.icon-014 icon-014
    li.icon-015 icon-015
    li.icon-016 icon-016
    li.icon-017 icon-017
    li.icon-018 icon-018
    li.icon-019 icon-019
    li.icon-01A icon-01A
    li.icon-01B icon-01B
    li.icon-01C icon-01C
    li.icon-01D icon-01D
    li.icon-01E icon-01E
    li.icon-020 icon-020
    li.icon-021 icon-021
    li.icon-022 icon-022
    li.icon-023 icon-023
    li.icon-024 icon-024
    li.icon-025 icon-025
    li.icon-026 icon-026
    li.icon-027 icon-027
    li.icon-028 icon-028
    li.icon-029 icon-029
    li.icon-02A icon-02A
    li.icon-02B icon-02B
    li.icon-02C icon-02C
    li.icon-02D icon-02D
    li.icon-02E icon-02E
    li.icon-030 icon-030
    li.icon-031 icon-031
    li.icon-032 icon-032
    li.icon-033 icon-033
    li.icon-034 icon-034
    li.icon-035 icon-035
    li.icon-036 icon-036
    li.icon-037 icon-037
    li.icon-038 icon-038
    li.icon-039 icon-039
    li.icon-03A icon-03A
    li.icon-03B icon-03B
    li.icon-03C icon-03C
    li.icon-03D icon-03D
    li.icon-03E icon-03E
    li.icon-040 icon-040
    li.icon-041 icon-041
    li.icon-042 icon-042
    li.icon-043 icon-043
    li.icon-044 icon-044
    li.icon-045 icon-045
    li.icon-046 icon-046
    li.icon-047 icon-047
    li.icon-048 icon-048
    li.icon-049 icon-049
    li.icon-04A icon-04A
    li.icon-04B icon-04B
    li.icon-04C icon-04C
    li.icon-04D icon-04D
    li.icon-04E icon-04E
    li.icon-050 icon-050
    li.icon-051 icon-051
    li.icon-052 icon-052
    li.icon-053 icon-053
    li.icon-054 icon-054
    li.icon-055 icon-055
    li.icon-056 icon-056
    li.icon-057 icon-057
    li.icon-058 icon-058
    li.icon-059 icon-059
    li.icon-05A icon-05A
    li.icon-05B icon-05B
    li.icon-05C icon-05C
    li.icon-05D icon-05D
    li.icon-05E icon-05E
    li.icon-060 icon-060
    li.icon-061 icon-061
    li.icon-062 icon-062
    li.icon-0C9 icon-0C9
    li.icon-0CA icon-0CA
    li.icon-0CB icon-0CB
    li.icon-0CC icon-0CC
    li.icon-0CD icon-0CD
    li.icon-0CE icon-0CE
    li.icon-0D0 icon-0D0
    li.icon-0D1 icon-0D1
    li.icon-0D2 icon-0D2
    li.icon-0D3 icon-0D3
    li.icon-0D4 icon-0D4
    li.icon-0D5 icon-0D5
    li.icon-0D6 icon-0D6
    li.icon-0D7 icon-0D7
    li.icon-0D8 icon-0D8
    li.icon-0D9 icon-0D9
    li.icon-0DA icon-0DA
    li.icon-0DB icon-0DB
    li.icon-0DC icon-0DC
    li.icon-0DD icon-0DD
    li.icon-0DE icon-0DE
    li.icon-0E0 icon-0E0
    li.icon-0E1 icon-0E1
    li.icon-0E2 icon-0E2
    li.icon-0E3 icon-0E3
    li.icon-0E4 icon-0E4
    li.icon-0E5 icon-0E5
    li.icon-0E6 icon-0E6
    li.icon-0E7 icon-0E7
    li.icon-0E8 icon-0E8
    li.icon-0E9 icon-0E9
    li.icon-0EA icon-0EA
    li.icon-0EB icon-0EB
    li.icon-0EC icon-0EC
    li.icon-0ED icon-0ED
    li.icon-0EE icon-0EE
    li.icon-100 icon-100
    li.icon-101 icon-101
    li.icon-102 icon-102
    li.icon-103 icon-103
    li.icon-104 icon-104
    li.icon-105 icon-105
    li.icon-106 icon-106
    li.icon-107 icon-107
    li.icon-108 icon-108
    li.icon-109 icon-109
    li.icon-10A icon-10A
    li.icon-10B icon-10B
    li.icon-10C icon-10C
    li.icon-10D icon-10D
    li.icon-10E icon-10E
    li.icon-110 icon-110
    li.icon-111 icon-111
    li.icon-112 icon-112
    li.icon-113 icon-113
    li.icon-114 icon-114
    li.icon-115 icon-115
    li.icon-116 icon-116
    li.icon-117 icon-117
    li.icon-118 icon-118
    li.icon-119 icon-119
    li.icon-11A icon-11A
    li.icon-11B icon-11B
    li.icon-11C icon-11C
    li.icon-11D icon-11D
    li.icon-11E icon-11E
    li.icon-120 icon-120
    li.icon-121 icon-121
    li.icon-122 icon-122
    li.icon-123 icon-123
    li.icon-124 icon-124
    li.icon-125 icon-125
    li.icon-126 icon-126
    li.icon-127 icon-127
    li.icon-128 icon-128
    li.icon-129 icon-129
    li.icon-12A icon-12A
    li.icon-12B icon-12B
    li.icon-12C icon-12C
    li.icon-12D icon-12D
    li.icon-12E icon-12E
    li.icon-130 icon-130
    li.icon-131 icon-131
    li.icon-132 icon-132
    li.icon-133 icon-133
    li.icon-134 icon-134
    li.icon-135 icon-135
    li.icon-136 icon-136
    li.icon-137 icon-137
    li.icon-138 icon-138
    li.icon-139 icon-139
    li.icon-13A icon-13A
    li.icon-13B icon-13B
    li.icon-13C icon-13C
    li.icon-13D icon-13D
    li.icon-13E icon-13E
    li.icon-063 icon-063
    li.icon-064 icon-064
    li.icon-065 icon-065
    li.icon-066 icon-066
    li.icon-067 icon-067
    li.icon-068 icon-068
    li.icon-069 icon-069
    li.icon-06A icon-06A
    li.icon-06B icon-06B
    li.icon-06C icon-06C
    li.icon-06D icon-06D
    li.icon-06E icon-06E
    li.icon-070 icon-070
    li.icon-071 icon-071
    li.icon-072 icon-072
    li.icon-073 icon-073
    li.icon-074 icon-074
    li.icon-075 icon-075
    li.icon-076 icon-076
    li.icon-077 icon-077
    li.icon-078 icon-078
    li.icon-079 icon-079
    li.icon-07A icon-07A
    li.icon-07B icon-07B
    li.icon-07C icon-07C
    li.icon-07D icon-07D
    li.icon-07E icon-07E
    li.icon-080 icon-080
    li.icon-081 icon-081
    li.icon-082 icon-082
    li.icon-083 icon-083
    li.icon-084 icon-084
    li.icon-085 icon-085
    li.icon-086 icon-086
    li.icon-087 icon-087
    li.icon-088 icon-088
    li.icon-089 icon-089
    li.icon-08A icon-08A
    li.icon-08B icon-08B
    li.icon-08C icon-08C
    li.icon-08D icon-08D
    li.icon-08E icon-08E
    li.icon-090 icon-090
    li.icon-091 icon-091
    li.icon-092 icon-092
    li.icon-093 icon-093
    li.icon-094 icon-094
    li.icon-095 icon-095
    li.icon-096 icon-096
    li.icon-097 icon-097
    li.icon-098 icon-098
    li.icon-099 icon-099
    li.icon-09A icon-09A
    li.icon-09B icon-09B
    li.icon-09C icon-09C
    li.icon-09D icon-09D
    li.icon-09E icon-09E
    li.icon-0A0 icon-0A0
    li.icon-0A1 icon-0A1
    li.icon-0A2 icon-0A2
    li.icon-0A3 icon-0A3
    li.icon-0A4 icon-0A4
    li.icon-0A5 icon-0A5
    li.icon-0A6 icon-0A6
    li.icon-0A7 icon-0A7
    li.icon-0A8 icon-0A8
    li.icon-0A9 icon-0A9
    li.icon-0AA icon-0AA
    li.icon-0AB icon-0AB
    li.icon-0AC icon-0AC
    li.icon-0AD icon-0AD
    li.icon-0AE icon-0AE
    li.icon-0B0 icon-0B0
    li.icon-0B1 icon-0B1
    li.icon-0B2 icon-0B2
    li.icon-0B3 icon-0B3
    li.icon-0B4 icon-0B4
    li.icon-0B5 icon-0B5
    li.icon-0B6 icon-0B6
    li.icon-0B7 icon-0B7
    li.icon-0B8 icon-0B8
    li.icon-0B9 icon-0B9
    li.icon-0BA icon-0BA
    li.icon-0BB icon-0BB
    li.icon-0BC icon-0BC
    li.icon-0BD icon-0BD
    li.icon-0BE icon-0BE
    li.icon-0C0 icon-0C0
    li.icon-0C1 icon-0C1
    li.icon-0C2 icon-0C2
    li.icon-0C3 icon-0C3
    li.icon-0C4 icon-0C4
    li.icon-0C5 icon-0C5
    li.icon-0C6 icon-0C6
    li.icon-0C7 icon-0C7
    li.icon-0C8 icon-0C8
    li.icon-0C9 icon-0C9
    li.icon-0CA icon-0CA
    li.icon-0CB icon-0CB
    li.icon-0CC icon-0CC
    li.icon-0CD icon-0CD
    li.icon-0CE icon-0CE
    li.icon-0D0 icon-0D0
    li.icon-0D1 icon-0D1
    li.icon-0D2 icon-0D2
    li.icon-0D3 icon-0D3
    li.icon-0D4 icon-0D4
    li.icon-0D5 icon-0D5
    li.icon-0D6 icon-0D6
    li.icon-0D7 icon-0D7
    li.icon-0D8 icon-0D8
    li.icon-0D9 icon-0D9
    li.icon-0DA icon-0DA
    li.icon-0DB icon-0DB
    li.icon-0DC icon-0DC
    li.icon-0DD icon-0DD
    li.icon-0DE icon-0DE
    li.icon-0E0 icon-0E0
    li.icon-0E1 icon-0E1
    li.icon-0E2 icon-0E2
    li.icon-0E3 icon-0E3
    li.icon-0E4 icon-0E4
    li.icon-0E5 icon-0E5
    li.icon-0E6 icon-0E6
    li.icon-0E7 icon-0E7
    li.icon-0E8 icon-0E8
    li.icon-0E9 icon-0E9
    li.icon-0EA icon-0EA
    li.icon-0EB icon-0EB
    li.icon-0EC icon-0EC
    li.icon-0ED icon-0ED
    li.icon-0EE icon-0EE
    li.icon-100 icon-100
    li.icon-101 icon-101
    li.icon-102 icon-102
    li.icon-103 icon-103
    li.icon-104 icon-104
    li.icon-105 icon-105
    li.icon-106 icon-106
    li.icon-107 icon-107
    li.icon-108 icon-108
    li.icon-109 icon-109
    li.icon-10A icon-10A
    li.icon-10B icon-10B
    li.icon-10C icon-10C
    li.icon-10D icon-10D
    li.icon-10E icon-10E
    li.icon-110 icon-110
    li.icon-111 icon-111
    li.icon-112 icon-112
    li.icon-113 icon-113
    li.icon-114 icon-114
    li.icon-115 icon-115
    li.icon-116 icon-116
    li.icon-117 icon-117
    li.icon-118 icon-118
    li.icon-119 icon-119
    li.icon-11A icon-11A
    li.icon-11B icon-11B
    li.icon-11C icon-11C
    li.icon-11D icon-11D
    li.icon-11E icon-11E
    li.icon-120 icon-120
    li.icon-121 icon-121
    li.icon-122 icon-122
    li.icon-123 icon-123
    li.icon-124 icon-124
    li.icon-125 icon-125
    li.icon-126 icon-126
    li.icon-127 icon-127
    li.icon-128 icon-128
    li.icon-129 icon-129
    li.icon-12A icon-12A
    li.icon-12B icon-12B
    li.icon-12C icon-12C
    li.icon-12D icon-12D
    li.icon-12E icon-12E
    li.icon-130 icon-130
    li.icon-131 icon-131
    li.icon-132 icon-132
    li.icon-133 icon-133
    li.icon-134 icon-134
    li.icon-135 icon-135
    li.icon-136 icon-136
    li.icon-137 icon-137
    li.icon-138 icon-138
    li.icon-139 icon-139
    li.icon-13A icon-13A
    li.icon-13B icon-13B
    li.icon-13C icon-13C
    li.icon-13D icon-13D
    li.icon-13E icon-13E
    li.icon-140 icon-140
    li.icon-141 icon-141
    li.icon-142 icon-142
    li.icon-143 icon-143
    li.icon-144 icon-144
    li.icon-145 icon-145
    li.icon-146 icon-146
    li.icon-147 icon-147
    li.icon-148 icon-148
    li.icon-149 icon-149
    li.icon-14A icon-14A
    li.icon-14B icon-14B
    li.icon-14C icon-14C
    li.icon-14D icon-14D
    li.icon-14E icon-14E
    li.icon-150 icon-150
    li.icon-151 icon-151
    li.icon-152 icon-152
    li.icon-153 icon-153
    li.icon-154 icon-154
    li.icon-155 icon-155
    li.icon-156 icon-156
    li.icon-157 icon-157
    li.icon-158 icon-158
    li.icon-159 icon-159
    li.icon-15A icon-15A
    li.icon-15B icon-15B
    li.icon-15C icon-15C
    li.icon-15D icon-15D
    li.icon-15E icon-15E
    li.icon-160 icon-160
    li.icon-161 icon-161
    li.icon-162 icon-162
    li.icon-163 icon-163
    li.icon-164 icon-164
    li.icon-165 icon-165
    li.icon-166 icon-166
    li.icon-167 icon-167
    li.icon-168 icon-168
    li.icon-169 icon-169
    li.icon-16A icon-16A
    li.icon-16B icon-16B
    li.icon-16C icon-16C
    li.icon-16D icon-16D
    li.icon-16E icon-16E
    li.icon-170 icon-170
    li.icon-171 icon-171
    li.icon-172 icon-172
    li.icon-173 icon-173
    li.icon-174 icon-174
    li.icon-175 icon-175
    li.icon-176 icon-176
    li.icon-177 icon-177
    li.icon-178 icon-178
    li.icon-179 icon-179
    li.icon-17A icon-17A
    li.icon-17B icon-17B
    li.icon-17C icon-17C
