// mixins
@mixin rounded($size, $color) {
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size * 0.5;
  padding: 0;
  text-align: center;
  background-color: transparent;
  //border: solid 1px $color;
  color: $color;
  box-shadow: 0 0.25em 0.5em rgba($color, 0.5);
}

@mixin rounded-full($size, $color) {
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size * 0.5;
  transform-origin: $size * 0.5 $size * 0.5;
  padding: 0;
  background-color: $color;
  // border: solid 1px $color;
  color: white;
  box-shadow: 0 0.25em 0.5em rgba($color, 0.5);
}
