// gotloop colors and vars

$main-color:#3384B8;
$back-color:#E8E8E8;
$head-color:#071620;
$grey-color:#808080;
// uncomment for light theme
// $head-color:white;
$main-color-light:#7FB8DD;
// color palette
// http://paletton.com/#uid=33v0u0koACierPbjXIhufyHx7pS
$color-blue: #3384B8;
$color-blue-light: #7FB8DD;
$color-blue-dark: #085384;

$color-yellow: #FFCC3B;
$color-yellow-light: #FFE18C;
$color-yellow-dark: #CE9800;

$color-red: #FF6D3B;
$color-red-light: #FFA98C;
$color-red-dark: #CE3500;

$color-green: #2DC37B;
$color-green-light: #7CE2B1;
$color-green-dark: #008F4A;

// size and co
$header-height:3em;
$common-margin:.5em;
$shadow-alpha:0.25;
$header-text-height: $header-height - $common-margin*2;

// media queries, these are the default settings if not specified by the user
$breakpoints: (
  "xs": 0px,    //targeting <568px devices (e.g. all iPhones <6)
  "sm": 568px,  //targeting >=568px devices (e.g. iPhones >=6)
  "md": 768px,  //targeting >=768px tablets (e.g. portrait iPad)
  "lg": 1004px  //targeting >=1024px tablets (e.g. landscape iPad) and desktops but leaving room for the scroll bar
);
