// gotloop colors and vars

$main-color: #3384b8;
$back-color: #e8e8e8;
$head-color: #071620;
$grey-color: #808080;
// uncomment for light theme
// $head-color:white;
$main-color-light: #7fb8dd;
// color palette
// http://paletton.com/#uid=33v0u0koACierPbjXIhufyHx7pS
$color-blue: #3384b8;
$color-blue-light: #7fb8dd;
$color-blue-dark: #085384;

$color-yellow: #ffcc3b;
$color-yellow-light: #ffe18c;
$color-yellow-dark: #ce9800;

$color-red: #ff6d3b;
$color-red-light: #ffa98c;
$color-red-dark: #ce3500;

$color-green: #2dc37b;
$color-green-light: #7ce2b1;
$color-green-dark: #008f4a;

// size and co
$header-height: 3em;
$common-margin: 0.5em;
$shadow-alpha: 0.25;
$header-text-height: $header-height - $common-margin * 2;

// media queries, these are the default settings if not specified by the user
$breakpoints: (
  'xs': 0px,
  //targeting <568px devices (e.g. all iPhones <6)
  'sm': 568px,
  //targeting >=568px devices (e.g. iPhones >=6)
  'md': 768px,
  //targeting >=768px tablets (e.g. portrait iPad)
  'lg': 1004px
    //targeting >=1024px tablets (e.g. landscape iPad) and desktops but leaving room for the scroll bar,,,,,,,
);
