/* You can add global styles to this file, and also import other style files */
@import '../../../../styles/settings';
@import '../../../../styles/mixins';

.loop-comment {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2em;
  .loop-comment-author {
    margin-top: 5px;
    @include rounded(3em, transparent);
    box-shadow:
      0 -0.5em 0.25em white,
      0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  }
  .loop-comment-infos {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 0.5em;
  }
  .loop-comment-date {
    color: gray;
    font-size: 0.75em;
  }
  .loop-comment-content {
    flex: auto;
    @include rounded(1em, grey);
    padding: 0.5em 1em;
    min-height: 3em;
    height: auto;
    margin-left: 1em;
    position: relative;
    text-align: left;
    z-index: 0;
    background: white;
    //arrow
    &:after {
      position: absolute;
      left: -0.5em;
      top: 20px;
      content: ' ';
      display: block;
      width: 16px;
      height: 16px;
      transform-origin: 0.5em 0.5em;
      transform: rotate(45deg);
      background: white;
      box-shadow: 0 -0.25em 0.5em rgba(128, 128, 128, 0.5);
      z-index: 1;
    }
    // trick to hide shadow
    &:before {
      position: absolute;
      left: 0;
      z-index: 2;
      content: ' ';
      display: block;
      width: 15px;
      height: auto;
      bottom: 10px;
      top: 10px;
      background: white;
    }
  }
}
