@import 'styles/settings';
@import 'styles/mixins';

.loop-player {
  color: $main-color;
  &.is-playing {
    margin: -0.5em -1em 2em;
    transition: margin 0.3s ease-in;
  }
  .loop-viz {
    height: 4em;
  }
  .loop-details {
    min-height: 4em;
  }
}

.loop-buttons {
  position: relative;
  display: flex;
  align-items: center;

  .loop-play-pause-button {
    @include rounded-full(4em, $color-green);
    //background-color:white;
    text-align: center;
    text-transform: uppercase;
  }
  .loop-like-button {
    @include rounded-full(3em, $color-red-dark);
    margin-left: 1em;
    text-align: center;
  }
  .loop-comment-button {
    @include rounded-full(2em, $color-blue-dark);
    padding: 0 1em;
    width: auto;
    margin-left: auto;
  }
}
