@import 'settings';
@import 'mixins';

.loop-player {
    color: $main-color;
    &.is-playing{
      margin:-.5em -1em 2em ;
      transition:margin .3s ease-in;
    }
    .loop-viz {
      height: 4em;
    }
  }