header
    .roundLogo
        G
    .container
        ul#menu.lavaLamp
            li.two.alpha
                a(href='/loops')
                    i.icon-undo
                    span loops
            li.two
                a(href='/tags')
                    i.icon-tag
                    span tags
            li.two
                a(href='/archive')
                    i.icon-calendar
                    span archive
            li.two
                a(href='/realtime')
                    i.icon-dashboard
                    span realtime
            li.two
                a(href='/user')
                    i.icon-user
                    span user
            li.two.omega
                a(href='/about')
                    i.icon-help
                    span about
        ul#log
            li.signin

            li.register