@import "styles/settings";

.card {
  height: auto;
  border-radius: 1em;
  margin: 20px;
  background-color: white;
  box-shadow: 0 0 1em rgba($main-color, .25);
  .card-header {
    border-radius: 1em 1em 0 0;
    background-color: $head-color;
    width: 100%;
    min-height: 2em;
    position: relative;
  }
  .card-middle{
    margin:0 20px;
  }
  .card-footer {
    border-radius: 0 0 1em 1em;
    background-color: white;
    min-height: 1em;
  }
}
