
//base
body,
html {
  height: 100%;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  margin:0; padding:0;
}
body {
  background:
  linear-gradient(0deg, rgba(255,255,255,0.5) 2px, rgba(0,0,0,0) 2px),
  linear-gradient(90deg, rgba(255,255,255,0.5) 2px, rgba(0,0,0,0) 2px),
  linear-gradient(0deg, rgba(255,255,255,0.25) 1px, rgba(0,0,0,0) 1px),
  linear-gradient(90deg, rgba(255,255,255,0.25) 1px, rgba(0,0,0,0) 1px),
  rgb(34, 102, 153);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1em;
  font-weight: normal;
  color: $main-color;
}

.title {
  margin-bottom: 1em;
}

.page-content {
  margin: 0 auto;
  width: 640px;
  color: $head-color;
}

.page-footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  height: $header-height;
  background-image: linear-gradient( 0deg, white, rgba(0, 0, 0, 0))
}

//view show hide system based on #hash
section:not(:target) {
  display: none;
}

section:target {
  display: block;
}

section h2 {
  padding-top: $header-height;
}

//forms
fieldset {}

input,
input[type="reset"],
input[type="reset"],
input[type="button"],
button {
  height: 2em;
  border-radius: 2em;
  padding: 0 1em;
  background-color: transparent;
  border: solid 1px $main-color;
  color: $main-color;
}

input {
  &:focus {
    box-shadow: inset 0 0 .5em $main-color;
  }
}

.loop-player {
  color: $main-color;
  &.is-playing{
    margin:-.5em -1em 2em ;
    transition:margin .3s ease-in;
  }
  .loop-viz {
    height: 4em;
  }
  .loop-details {
    min-height: 4em;
  }
}

.loop-buttons {
  position:relative;
  display:flex;
  align-items:center;
  margin: -2em 1em 0;

  .loop-play-pause-button {
    @include rounded-full(4em, $color-green);
    //background-color:white;
    text-align:center;
    text-transform:uppercase;
  }
  .loop-like-button {
    @include rounded-full(3em, $color-red-dark);
    margin-left:1em;
    text-align:center;
  }
  .loop-comment-button {
    @include rounded-full(2em, $color-blue-dark);
    padding: 0 1em;
    width:auto;
    margin-left: auto;
  }
}

.loop-comment{
  display:flex;
  flex-flow: row wrap;
  margin-bottom:2em;
  .loop-comment-author{
    @include rounded(3em,transparent);
  }
  .loop-comment-infos{
    width:100%;
    flex: 0 0 100%;
    margin-bottom:.5em;
  }
  .loop-comment-content{
    flex:auto;
    @include rounded(1em,#808080);
    padding:.5em 1em;
    min-height:3em;
    height:auto;
    margin-left:1em;
    position:relative;
    text-align:left;
    //arrow
    &:before,&:after{
      position:absolute;
      left:-1em;
      top:1em;content:' ';
      display:block;
      width:0;
      height:0;
      border:solid .5em transparent;
    }
    &:after{
      border-right-color:white;
      //margin-right:-1px;
    }
    &:before{
      border-right-color:grey ;
      margin-left:-1px;
    }
  }
}
